   
    <% @pets.each do |pet| %>
    <%= pet.name %>
     <p><%= link_to "<button>Approve #{pet.name}'s Application</button>".html_safe, "/admin/applications/#{@application.id}?" %></p>
    <% end %>
